body{
/*  background: #eee;*/
     background: url(https://cdn.pixabay.com/photo/2015/05/22/00/48/gradient-778155__340.jpg)
repeat center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Vollkorn', sans-serif;
/*    position: relative;*/
}
.contact-form{
    display: flex;
  }

#frm{
  border: solid gray 1px;
     max-width: 550px;
/*  width:20%;*/
    height: 300px;
  border-radius: 5px;
/*    height: 500px;*/
  margin:150px auto;
  background: white;
     display: flex;
  padding: 50px;
}

#btn{
  color: #fff;
/*  background: #337ab7;*/
  padding: 5px;
  margin-right: :69%;
}

@media screen and (max_width: 600px){
  .frm{
    flex-direction: column;
  }
/*
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
*/
}
